.WelcomeComponent {
    background-color: #130f40;
    background: linear-gradient(315deg, #130f40 0%, #000000 74%);
    height: 100vh;
    padding-left: 120px;
    padding-right: 120px;
}

.WelcomeComponent h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
}

.WelcomeComponent p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}