@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.logo {
    font-family: 'Righteous', cursive;
    color: #ffffff
}

.transparent-navbar {
    background-color: transparent !important;
    box-shadow: none !important;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}