.Login {
    height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: stretch;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-top: -8vh;
}

.img-container {
    position: absolute;
}

.img-container img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}