.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-top: -10vh;
}