.Login{
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin-top: -8vh;
}

img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }